<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Travis.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>85DB96E02071FE0A002AF672</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85DB96F42071FE0A002AF672</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85DB96FF2071FE0A002AF672</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
